doctype html
head
  meta(charset='UTF-8')
  title Le sel
  link(href="css/font-awesome.css", rel="stylesheet", type="text/css")
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
  link(href="css/burgers.css", rel="stylesheet", type="text/css")
  link(href="css/responsive.css", rel="stylesheet", type="text/css")
body
  section#home
    ul.cool-shit
      li.stripe
      li.stripe
      li.stripe
      li.stripe
      li.stripe
    .align
    .row
      h1
        span Florian
      h1
        span Thauvin

  section#videos
    .align
    .row
      h2.title Videos
      ul.all
        li(video-url="http://www.youtube.com/embed/TtvoXXT3YN0")
          .overlay
            i.fa.fa-play-circle
          .name Chanson à la gloire de Thauvin
        li(video-url="http://www.youtube.com/embed/M0BzNfr9gr8")
          .overlay
            i.fa.fa-play-circle
          .name Goals, Skills and Assists 2016
        li(video-url="http://www.youtube.com/embed/8hrCb9pRiOY")
          .overlay
            i.fa.fa-play-circle
          .name Reportage Bein OM champion d'automne
        li(video-url="http://www.youtube.com/embed/3wV-4Ri--Zs")
          .overlay
            i.fa.fa-play-circle
          .name Goals, Skills and Assists 2013 - 2014
        li(video-url="//www.dailymotion.com/embed/video/xtqypr_portrait-de-florian-thauvin_sport")
          .overlay
            i.fa.fa-play-circle
          .name Bastia, Portrait de Florian Thauvin
        li(video-url="//www.dailymotion.com/embed/video/x1018lg")
          .overlay
            i.fa.fa-play-circle
          .name Thauvin élu meilleur espoir de ligue 1

  section#stats
    .align
    .row
      h2.title Stats
      #table
        ul.seasons
        .path
          ul.data

  section#team
    ul.cool-shit
      li.stripe
      li.stripe
      li.stripe
      li.stripe
      li.stripe
    .align
    .row
      h2.title My Team
      #brands
        .col
        .col
          .cubes
          .cubes
          .cubes
          .cubes

  section#news
    .row
      h2.title News
      #grid(data-columns)
        .wrap
          img(src='/img/temp/1.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/2.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/3.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/4.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/7.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/5.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/6.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/8.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='/img/temp/10.jpg')
          .ripple
            .overlay
            .alright

  footer
    .row
      span Patrick l'étoile - Copiright 2017


include ./templates

//- Webpack Bundles
script(src='/vendor.bundle.js')
script(src='/app.bundle.js')

