doctype html
head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  title Florian Thauvin
  meta(name='description', content='Florian Thauvin, né le 26 janvier 1993 à Orléans, est un footballeur français qui évolue au poste de milieu offensif à l\'Olympique de Marseille.')
  meta(name='Keywords', content='Florian Thauvin, Florian, Thauvin, Olympique de Marseille, OM, Flotov, Meilleur espoir de Ligue 1 ')
  link(href="css/font-awesome.css", rel="stylesheet", type="text/css")
  link(href="css/normalize.css", rel="stylesheet", type="text/css")
  link(href="css/main.css", rel="stylesheet", type="text/css")
  link(href="css/burgers.css", rel="stylesheet", type="text/css")
  link(href="css/responsive.css", rel="stylesheet", type="text/css")
body.loading
  section#home(data-offset='0')
    ul.cool-shit
      li.stripe
      li.stripe
      li.stripe
      li.stripe
      li.stripe
    .align
    .row
      h1
        span Florian
      h1
        span Thauvin

  section#videos(data-offset='1')
    .align
    .row
      h2.title Videos
      ul.all
        li(video-url="http://www.youtube.com/embed/TtvoXXT3YN0")
          .overlay
            i.fa.fa-play-circle
          .name Chanson à la gloire de Thauvin
        li(video-url="http://www.youtube.com/embed/M0BzNfr9gr8")
          .overlay
            i.fa.fa-play-circle
          .name Goals, Skills and Assists 2016
        li(video-url="http://www.youtube.com/embed/8hrCb9pRiOY")
          .overlay
            i.fa.fa-play-circle
          .name Reportage Bein OM champion d'automne
        li(video-url="http://www.youtube.com/embed/3wV-4Ri--Zs")
          .overlay
            i.fa.fa-play-circle
          .name Goals, Skills and Assists 2013 - 2014
        li(video-url="//www.dailymotion.com/embed/video/xtqypr_portrait-de-florian-thauvin_sport")
          .overlay
            i.fa.fa-play-circle
          .name Bastia, Portrait de Florian Thauvin
        li(video-url="//www.dailymotion.com/embed/video/x1018lg")
          .overlay
            i.fa.fa-play-circle
          .name Thauvin élu meilleur espoir de ligue 1

  section#stats(data-offset='2')
    .align
    .row
      h2.title Stats
      #table
        ul.seasons
        .path
          ul.data

  section#team(data-offset='3')
    ul.cool-shit
      li.stripe
      li.stripe
      li.stripe
      li.stripe
      li.stripe
    .align
    .row
      h2.title My Team
      #brands
        a(target='_blank', href='http://www.adidas.fr/').col
          .overlay
            .btn Voir le site
        .col
          a(target='_blank', href='http://www.intersport.fr/').cubes
            .overlay
              .btn Voir le site
          a(target='_blank', href='http://www.citroen.fr/accueil.html').cubes
            .overlay
              .btn Voir le site
          a(target='_blank', href='http://fr.louisvuitton.com/fra-fr/homepage?campaign=sem_GG-FR-FRA-EC-BRAN-BROT').cubes
            .overlay
              .btn Voir le site
          a(target='_blank', href='https://www.winamax.fr/').cubes
            .overlay
              .btn Voir le site

  section#news(data-offset='4')
    .row
      h2.title News
      #grid(data-columns)
        .wrap
          img(src='./img/temp/1.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/2.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/3.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/4.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/7.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/5.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/6.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/8.jpg')
          .ripple
            .overlay
            .alright
        .wrap
          img(src='./img/temp/10.jpg')
          .ripple
            .overlay
            .alright

  footer
    .row
      span.left
        | Réalisé par
        a(target='_blank', href='http://www.brainconnection.fr/') Brain Connection
        | - 2017
      span.right
        | Videos Copyright
        a(target='_blank', href='https://www.youtube.com/channel/UCQsH5XtIc9hONE1BQjucM0g') Ligue 1

  #loader
    .sk-folding-cube
      .sk-cube1.sk-cube
      .sk-cube2.sk-cube
      .sk-cube4.sk-cube
      .sk-cube3.sk-cube


include ./templates

//- Webpack Bundles
script(src='./vendor.bundle.js')
script(src='./app.bundle.js')

